header {
    padding: 20px 0 px;
    text-align: center;
    background-color: burlywood;
}

header h1 {
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: floralwhite;
}